<%- include("partials/header"); -%>

<br><h1>Home</h1>
<% for(var i=0;i<objEntry1.length;i++){ %>
  <br><h4> <%= objEntry1[i].entryUserID %> </h4>
  <p> <%= objEntry1[i].entryMessage %> <a href="/post/:<%= objEntry1[i].entryUserID %>">Answer the queries</a></p>
<% } %>
<%- include("partials/footer"); -%>
